* {
    list-style: none;
    color: #101010;
    margin: 0 auto;
    box-sizing: content-box;
    border-radius: 0.6em;
    text-align: center;
    text-decoration: none;
    outline: none;
}

/*generales*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 0.2em;
    height: 100%;
    margin-bottom: 0.2em;

}

main,
nav {
    height: 500px;
    padding-top: 5%;
}
.listadecompras h2, h3,p {
text-align: left;
}

aside {
    padding-top: 5%;
    height: 100%;
}

.centro {
    padding: 2em;
    height: 70%;
}

button {
    border-radius: 0.3em;
}

span {
    font-weight: normal;
}


header nav a {
    text-align: center;

}


/*estilos, colores*/

h2,
h1,
a,
p {
    color: #101010 !important;
}

li:hover {
    background-color: #5274D9;
}

p,
strong {
    color: #727272;
}


.medio {
    margin: auto;
}

input {
    border: none;
    background-color: #ced4e4;
}


.centro {
    background-color: #f3f3f3;
}

body {
    background-color: #bec3ccda;
}


.asideCarrito {
    background-color: #5274D9;
}


/*estilos de botones, lista de compras*/
ol {
    padding: 0px;
}

.btn-delete {
    border: none;
    background-color: #b1405c;
    color: white;
    padding: 5px 10px;
    outline: none;
    width: 10%;
    font-size: 1.2em;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: rgb(35, 65, 110);
}

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    background-color: rgb(35, 65, 110);
    font-size: 1.4rem;
    outline: none;
}

.btn-add:hover {
    cursor: pointer;
    background-color: rgb(148, 202, 202);
}

.empty {
    color: darkslategrey;
}