* {
    list-style: none;
    padding: 0.5em;
    box-sizing: content-box;
    border-radius: 0.3em;
    text-decoration: none;
    outline: none;
}


h2,
h1,
a,
p {
    color: #101010 !important;
}

li:hover {
    background-color: #5274D9;
}

p,
strong {
    color: #727272;
}

button {
    background-color: #5274D9;
    color: #F4F5F7;
    border: #5274D9;
}

body {
    background-color: #DDE1E9;
}

.container-main {
    background-color: #FFFEFE;
}

nav {
    background-color: #F4F5F7;
}

/*secciónes y personalizados*/
/*secciónes y personalizados*/
/*secciónes y personalizados*/

.asideCarrito {
    background-color: #5274D9;
}